@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1A535C; /* Biru Hijau Islami */
  --secondary-color: #FF6B6B; /* Merah Muted untuk aksen */
  --accent-color: #4ECDC4; /* Hijau Mint */
  --text-dark: #2D3748;
  --text-light: #F7FFF7;
  --font-title: 'Merriweather', serif;
  --font-body: 'Open Sans', sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
