@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-pink: #FFB6C1; /* Soft pink */
  --secondary-pink: #FF69B4; /* Medium pink */
  --deep-maroon: #800000; /* Warna Islami */
  --gold-accent: #D4AF37; /* Akses emas */
  --off-white: #FFF5EE; /* Background cream */
  --text-dark: #2E2E2E;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
